section.present {

}

.slides {
	width: 1440px !important;
	height: 840px !important;
}

.reveal section img {
	margin: 0px;
	border: 0px !important;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}


.reveal img {
	max-width: 100% !important;
	max-height: 100% !important;
}

.presentimg {
	top: -420px !important;
}

.reveal blockquote {
	width: 70%;
	color: #0B61A4 !important;
	font-style: italic;
	background: none !important;
	box-shadow: none !important;
}

.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
	border-right-color: #CCC !important;
}
.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
	border-left-color: #CCC !important;
}
.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
	border-bottom-color: #FFF !important;
}
.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
	border-top-color: #FFF !important;
}

.tmp {
	margin: 5px auto;
	padding: 5px;
	background: rgba(255,255,255,0.0);
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	color: #0B61A4;
}

body {
	background: url('../img/white_wall_hash.png');
}

h1, h2, h3, h4 {
	line-height: 1.1em;
}


.reveal a:not(.image) {
	color: #117ada;
	text-decoration: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.reveal .roll {
	display: inline-block;
	line-height: inherit;
	overflow: hidden;
	vertical-align: inherit;
	-webkit-perspective: none;
	-moz-perspective: none;
	-ms-perspective: none;
	perspective: none;
	-webkit-perspective-origin: none;
	-moz-perspective-origin: none;
	-ms-perspective-origin: none;
	perspective-origin: none;
}